<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <form action="">
        <header>
            <h1>¿Roberto te ama más de lo que tú lo amas?</h1>            
        </header>
        <main>
            <button id="si">SI</button>
            <button id="no">NO</button>

        </main>
        <footer></footer>
    </form>
</body>
</html>