<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
</head>
<body>    
<header th:fragment="header" class="bg-black py-3 px-4 d-flex justify-content-between align-items-center shadow">
        <div class="text-warning fs-3 fw-bold">
          <p>🎬 Cine Safari</p>
        </div>
        <nav class="nav-menu">
            <a href="#" th:href="@{/}" class="text-primary text-decoration-none mx-3 fs-5">Inicio</a>
            <a href="#" class="text-primary text-decoration-none mx-3 fs-5">Cartelera</a>
            <a href="#" class="text-primary text-decoration-none mx-3 fs-5" data-bs-toggle="modal" data-bs-target="#descuentoModal">Descuento Especial</a>
            <a href="#" th:href="@{Contacto}" class="text-primary text-decoration-none mx-3 fs-5">Contacto</a>
        </nav>
        
      </header>
	  </body>
	  
</html>